$font-stack:   Helvetica,sans-serif;
$primary-color: yellow;

.btnx{
  padding-left: 3rem;
  padding-right: 3rem;
}

.dd{
  text-align: center;
}

.bb{
  padding-left: 35%;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}
page-home {
  font: 100% $font-stack;
}
.foot{
  text-align: center;
}
.base{
  text-align: center;
}
